/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/spec/test.env
/tmp/
/log/
/sdk

Gemfile.lock

.byebug_history

.env

# vim swap files

.*.sw?

# rspec failure tracking
.rspec_status
