# Some specs require specific configuration in Identikey to be
# run, as they perform a full integration testing. As such, a
# fully working Identikey installation with an admin user with
# a password set plus a set of test users and tokens is required
# for the full test suite to run.
#

# Authentication against identikey
IK_HOST=https://identikey.example.org:8888/
IK_USERNAME=changeme
IK_PASSWORD=changeme
IK_DOMAIN=changeme

# Paths to WSDL
IK_WSDL_ADMIN=./sdk/wsdl/administration.wsdl
IK_WSDL_AUTH=./sdk/wsdl/authentication.wsdl

# An assigned token with its assignee and PIN. This is used to test
# authentication. The PIN is not changed but the user is authenticated
# thus ensure that the user is not used for anything else or you may
# incur in errors due to code replay attempts, either in the test suite
# or in your application.
#
IK_ASSIGNED_TOKEN_1_NUMBER=VDP0000001
IK_ASSIGNED_TOKEN_1_PERSON=foo.bar
IK_ASSIGNED_TOKEN_1_PIN=1234
IK_ASSIGNED_TOKEN_1_DPX=dpx/VDP0000000.dpx
IK_ASSIGNED_TOKEN_1_TRANSPORT_KEY=11111111111111111111111111111111

# An unassigned token
IK_UNASSIGNED_TOKEN_1_NUMBER=VDP0000003
IK_UNASSIGNED_TOKEN_1_PIN=4321

# An user with no tokens
IK_UNASSIGNED_TOKEN_PERSON=baz.quux

# Tokens used for testing OTP verification. Requires tokens able to
# generate OTPs (such as a VDP) loaded on Identikey, and the tokens
# corresponding DPX file available to the test suite.
# The DPX referenced here is available in the vacman_controller repo.
# The test suite alters the PINs of these tokens in Identikey, to a
# random value, so ensure this doesn't break your authentication.
#
IK_UNASSIGNED_TOKEN_2_NUMBER=VDP0000004
IK_UNASSIGNED_TOKEN_2_DPX=dpx/VDP0000000.dpx
IK_UNASSIGNED_TOKEN_2_TRANSPORT_KEY=11111111111111111111111111111111

IK_UNASSIGNED_TOKEN_3_NUMBER=VDP0000005
IK_UNASSIGNED_TOKEN_3_DPX=dpx/VDP0000000.dpx
IK_UNASSIGNED_TOKEN_3_TRANSPORT_KEY=11111111111111111111111111111111

IK_UNASSIGNED_TOKEN_4_NUMBER=VDP0000006
IK_UNASSIGNED_TOKEN_4_DPX=dpx/VDP0000000.dpx
IK_UNASSIGNED_TOKEN_4_TRANSPORT_KEY=11111111111111111111111111111111
