# Some specs require environment variables to be run,
# as they depend on external services or external data.
#
# Here the ones known up to now

# Authentication against identikey
TEST_HOST=https://identikey.example.org:8888/
TEST_USERNAME=changeme
TEST_PASSWORD=changeme
TEST_DOMAIN=changeme

# Paths to WSDL
WSDL_ADMIN=./sdk/wsdl/administration.wsdl
WSDL_AUTH=./sdk/wsdl/authentication.wsdl
