# Some specs require environment variables to be run,
# as they depend on external services or external data.
#
# Here the ones known up to now

# Authentication against identikey
IK_HOST=https://identikey.example.org:8888/
IK_USERNAME=changeme
IK_PASSWORD=changeme
IK_DOMAIN=changeme

# Paths to WSDL
IK_WSDL_ADMIN=./sdk/wsdl/administration.wsdl
IK_WSDL_AUTH=./sdk/wsdl/authentication.wsdl
